<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!-- Settings for Service Repository -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPersonService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1502/PersonService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPersonService" contract="MyService.IPersonService"
        name="BasicHttpBinding_IPersonService" />
    </client>
  </system.serviceModel>

  <!-- Settings for CSV Repository -->
  <appSettings>
    <add key="CSVFileName" value="People.txt"/>
  </appSettings>

  <!--  Settings for SQL Repository -->
  <connectionStrings>
    <add name="PeopleEntities" 
         connectionString="metadata=res://*/PeopleModel.csdl|res://*/PeopleModel.ssdl|res://*/PeopleModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\People.sdf&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>